<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{register.title}"></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:class="container">
    <h2 th:text="#{register.header}"></h2>
    <form action="#" th:action="@{/register}" th:object="${userDto}" method="POST">
        <p th:class="bg-danger" th:if="${userName}" th:text="#{register.error.username}"></p>
        <label th:text="#{register.username}"></label>
        <input type="text" th:class="form-control" th:field="*{userName}"
               th:placeholder="#{register.username}"/>
        <p th:class="bg-danger" th:if="${password}"  th:text="#{register.error.password}"></p>
        <label th:text="#{register.password}"></label>
        <input type="password" th:class="form-control" th:field="*{password}"
               th:placeholder="#{register.password}"/>
        <p th:class="bg-danger" th:if="${passwordConfirmation}" th:text="#{register.error.passwordconfirmation}"></p>
        <label th:text="#{register.passwordconfirmation}"></label>
        <input type="password" th:class="form-control" th:field="*{passwordConfirmation}"
               th:placeholder="#{register.password}"/>
        <button type="submit" class="btn btn-primary" th:text="#{register.button.register}"></button>
    </form>
</div>
</body>
</html>