<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title>NEUban - Register</title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{css/bootstrap.min.css}"/>
</head>
<body>
<div th:class="container">
    <h2>Register page</h2>
    <form action="#" th:action="@{/register}" th:object="${userDto}" method="POST">
        <p th:class="bg-danger" th:if="${userName}"><b>Error!</b> Error with username!</p>
        <label>Username</label>
        <input type="text" th:class="form-control" th:field="*{userName}"
               th:placeholder="Username"/>
        <p th:class="bg-danger" th:if="${password}"><b>Error!</b> Error with password!</p>
        <label>Password</label>
        <input type="password" th:class="form-control" th:field="*{password}"
               th:placeholder="Password"/>
        <p th:class="bg-danger" th:if="${passwordConfirmation}"><b>Error!</b> Error with password confirmation!</p>
        <label>Confirm password</label>
        <input type="password" th:class="form-control" th:field="*{passwordConfirmation}"
               th:placeholder="Password"/>
        <button type="submit" class="btn btn-primary">Register</button>
    </form>
</div>
</body>
</html>