<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{board.title}"></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div th:replace="fragments/header :: header"></div>
<div class="container">
    <h1 th:text="#{board.header}"></h1>
    <h2 th:text="${board.title}"></h2>
</div>
<div class="container-fluid">
    <form th:action="@{/secure/board/__${board.id}__/createcolumn}" method="POST">
        <label th:text="#{board.createcolumn}"></label>
        <input type="text" class="form-control" th:placeholder="#{board.columntitle}" name="columnTitle"/>
        <button type="submit" class="btn btn-primary" th:text="#{board.button.createcolumn}"></button>
    </form>
    <table>
        <tr valign="top">
            <td th:each="column : ${board.columns}" align="center">
                <div class="panel panel-info" style="width:300px">
                    <div class="panel-heading">
                        <label th:text="${column.title}" class="panel-title"></label>
                        <form th:action="@{/secure/board/__${board.id}__/removecolumn/__${column.id}__}"
                              th:method="DELETE">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" class="btn btn-danger"
                                    th:text="#{board.button.removecolumn}"></button>
                        </form>
                    </div>
                    <div class="panel-body">
                        <div th:each="card : ${column.cards}">
                            <div th:replace="fragments/card :: card-board (board = ${board}, card = ${card})"></div>
                        </div>
                        <form th:action="@{/secure/board/__${board.id}__/__${column.id}__/addcard}" method="POST">
                            <input type="text" class="form-control" th:placeholder="#{board.cardtitle}"
                                   name="cardTitle"/>
                            <button type="submit" class="btn btn-primary" th:text="#{board.button.addcard}"></button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>