<!DOCTYPE html>
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:th="http://www.thymeleaf.org">
<head>
    <title th:text="#{welcome.title}"></title>
    <meta charset="utf-8"/>
    <link rel="stylesheet" type="text/css" th:href="@{/css/bootstrap.min.css}"/>
</head>
<body>
<div class="container">
    <h2 th:text="|#{welcome.header.prefix}${#httpServletRequest.remoteUser}#{welcome.header.suffix}|"></h2>
    <form th:action="@{/appLogout}" method="POST">
        <button type="submit" class="btn btn-default" th:text="#{welcome.button.logout}"></button>
    </form>
</div>
<div class="container-fluid">
    <form th:action="@{/secure/welcome/createboard}" method="POST">
        <label th:text="#{welcome.boardtitle}"></label>
        <input type="text" class="form-control" th:placeholder="#{welcome.boardtitle}" name="boardTitle"/>
        <button type="submit" class="btn btn-primary" th:text="#{welcome.button.createboard}"></button>
    </form>
    <table>
        <tr valign="top">
            <td th:each="board : ${boardList}" align="center">
                <div class="panel panel-success" style="width:300px">
                    <div class="panel-heading">
                        <label th:text="${board.title}" class="panel-title"></label>
                    </div>
                    <div class="panel-body">
                        <form th:action="@{/secure/board/__${board.id}__}" method="GET">
                            <button type="submit" th:text="#{welcome.button.boarddetails}"
                                    class="btn btn-primary"></button>
                        </form>
                        <form th:action="@{/secure/welcome/removeboard/__${board.id}__}" th:method="DELETE">
                            <input type="hidden" name="_method" value="delete"/>
                            <button type="submit" th:text="#{welcome.button.removeboard}"
                                    class="btn btn-danger"></button>
                        </form>
                    </div>
                </div>
            </td>
        </tr>
    </table>
</div>
</body>
</html>